.topbar-container {
    width: 100%;
    height: 60px;
    background-color: #0E0E0E;
    display: flex;
    align-items: center;
    .icons{
        margin-left: 30px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 15px;
        color: #006BEB;
        //880000
    }
    .icon:hover {
        scale: 1.1; 
        color: #89C8EA;
        //ff0000
    }
}

.profile-picture {
    height: 50px; 
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.profile-wrapper {
    position: relative;   /* anchors popup */
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}
