.like-container {
  display: inline-flex;
  justify-content: center;

  flex-direction: column;
  gap: 5px;
  padding: 7px 10px;
  margin-bottom: 0px;

  .like-button {
    cursor: pointer;
  }

  p {
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: rgba(58, 58, 58, 0.835);
    font-size: 14px;
    margin-left: 5px;
  }
}