.like-container { // this is the entire "footer" of sorts from the bottom of a job posting
  font-family: "Gudea";
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  padding: 0px 10px;
  margin-bottom: 2rem; 
  .like-button {
    cursor: pointer;
    background-color: none;
    border: 2px solid #006BEB;
    display: inline-flex;
    margin-top: 0.3rem; 
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    &:hover{
      scale: 1.1; 
      border: 2px solid #89C8EA;
      color: #89C8EA;

    }
    .likeHeading{
      font-family: Gudea, sans-serif;
      font-size: 1.5em; 
      font-weight: 600;
      color: #006BEB;
      font-size: 14px;
      padding-top: 0; 
      padding: 0.6rem;

      &:hover{
      color: #89C8EA;
      }
    }

  }
  p {
    display: inline-flex;
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: rgba(58, 58, 58, 0.835);
    font-size: 14px;
    margin-left: 10px;
  }
}