.login-button {
    background-color: #00ffff;
    color: #00ff00;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.auth-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
 }

.common-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
 }