.login-button {
    font-family: papyrus;
    width: 300px;
    margin-top: 20px;
    background-color: #00ffff;
    color: #ff00ff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #00cccc;
}

.login-wrapper {
    .login-divider {
        margin-left: 200px;
    }
    .heading1 {
    font-size: 4rem;
    }
    .subheading1 {
    margin-top: -45px;
    }
}

.auth-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    width: 300px;

    .common-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    color: black;
    background-color: white;
    margin: 10px 0px;
    }
    .common-input:focus {
    outline: 1px solid #00ffff;
    }
    ::placeholder{
        font-family: papyrus;
    }
 }

.linkedoutlogo {
    width: 80px;
    /*position:absolute;
    top:20px;
    left:20px;*/
}

.line-divider {
  margin-left: 200px;
  margin-top: 20px;
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #818078;
    background-color: #fcfcfa;
    }
}

.google-button-wrapper {
    margin-top: 20px;
    margin-left: 200px;
    width: 300px;
    > * {
    width: 100% !important;
    }
    .signup-text {
        margin-left: 50px;
    }
    .signup-link {
        cursor: pointer;
    }
}

