.login-button {
    background-color: #00ffff;
    color: #00ff00;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.login-wrapper {
    background-color: #ff00ff;
    .heading1 {
    margin-left: 200px;
    font-size: 4rem;
    }
    .subheading1 {
    margin-left: 200px;
    margin-top: -45px;
    }
}

.auth-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    width: 300px;
    margin-left: 200px;

    .common-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    background-color: white;
    }
    .common-input:focus {
    outline: 1px solid #00ffff;
    }
 }

.linkedoutlogo {
    width: 80px;
    /*position:absolute;
    top:20px;
    left:20px;*/
}

