.topbar-container {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    .icons{
        margin-left: 30px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 15px;
        color: #880000;
    }
    .icon:hover {
        color: #ff0000;
    }
}

.profile-picture {
    height: 50px; 
    position: absolute;
    right: 20px;
    cursor: pointer;
}
