.user-posts-container {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    .user-post-item {
        width: 80%;
        background-color: #f5f5f5;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
        margin: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        p {
            margin-left: 12px;
            font-size: 14px;
            color: #333;
        }
    }
    .applicant-list {
  list-style: none;
  padding-left: 0;
}

.applicant-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.applicant-pfp {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.applicant-username {
  font-weight: bold;
}

.applicant-bio {
  font-size: 0.9rem;
  color: #666;
}
}