.heading1 {  // to show the name of our brand, MOTIF
        font-family: "Inria";
        text-align: center;
        font-size: 6rem; 
        margin: 0; 
        margin-top: 1rem; 
        padding-bottom: 0.5rem;
        color: #4E64EB;
        text-shadow: rgba(137,200,234,0.69) 0px 0px 32px;
        animation: colorChange 5s infinite alternate; 
 }

 // 3D MODEL-RELATED

.model-viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  touch-action: pan-y;
  z-index: -1; /* behind everything */
}

model-viewer {
  width: 100%;
  height: 100%;
  display: block;
}

// 3D MODEL-RELATED - END 

 h2 {
    text-align: center;
 }

 @keyframes colorChange {
    0% {
        opacity: 100%; 
    }

    50% {
        opacity: 70%;
        color: #B0A3EB; 
    }

    100% {
        opacity: 100%;
    }
}

@keyframes fade-in {
  from {
    opacity: 0; 
    transform: translateY(20px); 
  }
  to {
    opacity: 1; 
    transform: translateY(0);
  }
}