@import url('https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');


// <uniquifier>: Use a unique and descriptive class name
// FONTS - BEGIN

.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.nabla-yellow {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}

.gudea-regular {
  font-family: "Gudea", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gudea-bold {
  font-family: "Gudea", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.gudea-regular-italic {
  font-family: "Gudea", sans-serif;
  font-weight: 400;
  font-style: italic;
}

// FONTS - END

// 3D MODEL-RELATED

.model-viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  touch-action: pan-y;
  z-index: 0; /* behind everything */
}

model-viewer {
  width: 100%;
  height: 100%;
  display: block;
}

// 3D MODEL-RELATED - END 

// MARQUEE CODE 

.marquee {
    width: 100%; // needs to be here b/c this contains the actual text block
    margin: 0.5em auto; 
    white-space: nowrap; 
    overflow: hidden; 
    position: absolute;
}


.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;

  x-purpletext {
    color: #4E64EB;
    text-shadow: rgba(137,200,234,0.69) 0px 0px 32px;
}

}

.marquee2 span {
  animation-delay: 1.0s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

// MARQUEE CODE - END

.page-container {
    display: flex; 
    height: 100vh; 
}
// LEFT/RIGHT SIDE 

.entire-page-container {
  display: grid; 
  height: 100vh; 
  grid-template-columns: 1fr 1fr;
}

.left-side,
.right-side {
  flex: 1; 
  padding: 15px; // unsure about this
  display: grid; 
  place-items: center;
}

// END 

.login-button {
    font-family: 'Gudea', sans-serif;
    width: 300px;
    margin-top: 20px;
    background-color: #7800EB;
    color: #F0F0F0;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #B0A3EB;
    color: #4E64EB;
}

.hero-wrapper {
    z-index: 10; 
    position: relative; 
    padding: 2em; 
    justify-content: center;
    align-items: center;
    pointer-events: none; //allow click-through for the 3d model

    .hero-divider {
        flex-direction:column;
        position: relative;
    }

    .heading1 {
        font-family: "Gudea";
        font-size: 6rem; 
        margin: 0; 
        padding-bottom: 0.5rem;
        color: #4E64EB;
        text-shadow: rgba(137,200,234,0.69) 0px 0px 32px;
        animation: pulse 5s infinite alternate; 
    }

    h2 {
        font-size: 3rem; 
        line-height: 1; 
        margin: 0; 
        text-shadow: rgba(176,163,235,0.52) 0px 0px 35px;
    }
    h3 {
        font-size: 2rem; 
        color: #4E64EB;
    }

    li {
        font-size: 1.5rem; 
        line-height: 1.25; 
        
    }
}

.login-wrapper {
    z-index: 10;
    position: relative;
    justify-content: center; 
    align-items: center;

    .login-divider {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    }
    .heading1 {
    font-family: "Gudea";
    font-size: 3rem;
    pointer-events: none; 
    padding-bottom: 1rem;
    text-shadow: rgba(176,163,235,0.52) 0px 0px 35px;

    }
    .subheading1 {
    margin-top: -45px;
    text-shadow: rgba(121,0,235,1) 0px 0px 19px;
    }

}

.auth-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    width: 300px;

    .common-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    color: black;
    background-color: white;
    margin: 10px 0px;
    }
    .common-input:focus {
    outline: 1px solid #7800EB;
    }
    ::placeholder{
        font-family: gudea;
    }
 }

.linkedoutlogo { // change the name eventually
    width: 80px;
    position: absolute; 
    z-index: 100;
    top: 0.5em; 
    left: 0; 
}

.line-divider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   
  margin-top: 20px;
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #7800EB;
    background-color: #fcfcfa;
    border-radius: 50%;
    }
}

.google-button-wrapper {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    > * {
    width: 300px !important;
    }
    .signup-text {
        margin-left: 50px;
        text-shadow: rgba(121,0,235,1) 0px 0px 19px;

    }
    .signup-link {
        color: #0000ff;
        text-decoration: underline;
        cursor: pointer;
    }
    .signup-link:hover {
        color: #B0A3EB;
    }
    .sign-uplink:focus {
        color: #B0A3EB;
    }
}

// MEDIA QUERIES

/* On mobile, stack them */
@media (max-width: 768px) {
    .entire-page-container {
        grid-template-columns: 1fr;   /* stack */
        height: auto;                 /* optional */
    }
}

// KEYFRAMES 

@keyframes pulse {
    0% {
        transform: scale(1); 
        opacity: 100%; 
    }

    50% {
        transform: scale(1.025);
        opacity: 70%;
        color: #B0A3EB; 
    }

    100% {
        transform: scale(1);
        opacity: 100%;
    }
}

