.popup-card {
    position: absolute;
    top: 40px;    /* moves it DOWN under the profile pic */
    right: 0;     /* aligns to right edge of picture */
    background: white;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    z-index: 9999;
}


.popup-options{
    list-style: none;
    margin: 0;
    padding: 0;

}
.popup-option{
    font-family:Arial, Helvetica, sans-serif;
    padding: 8px 12px;
    cursor: pointer;
    color: #000000;
    font-size: 14px;
    border-radius: 6px;
    transition: background 0.2s ease;

}