button {
color: #B0A3EB; 
  border-radius: 70px; 
  border-width: 0.25rem; 
  border-color: #B0A3EB;
  background-color: black; 
  padding: 0.45em;

  &:hover{
    border-color: #89C8EA;
    color: #89C8EA;
  }


}
:root {
  font-family: gudea;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #7800EB;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}