@import url("./Components/Common/Common.scss");

:root {
  font-family: gudea;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #7800EB;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}


