@import url("./Components/Common/Common.scss");

.Toastify__toast--success {
  border: 1px solid #3A9EA5 !important;
  border-radius: 10px !important;
  background: #000000 !important;
}

.Toastify__toast--warning {
  border: 1px solid #3A9EA5 !important;
  border-radius: 10px !important;
  background: #000000 !important;
}

.Toastify__toast--error {
  border: 1px solid #3A9EA5 !important;
  border-radius: 10px !important;
  background: #000000 !important;
}

.Toastify__toast--info {
  border: 1px solid #3A9EA5 !important;
  border-radius: 10px !important;
  background: #000000 !important;
}


:root {
  font-family: gudea;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #7800EB;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}


