.post-status-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    .post-status{
        width: 80%;
        height: 120px;
        background-color: black;
        margin-top: 30px;
        margin-bottom: 30px;
        border: 1px solid #4E64EB;
        border-radius: 7px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .open-post-modal {
            width: 80%;
            height: 50px;
            text-align: left;
            color: rgba(84, 84, 84, 0.89);
            background-color: black;
            outline: none;
            border: 1px solid #4E64EB;
            border-radius: 30px;
            margin-left: -30px;
            cursor: pointer;
            padding: 15px;
            font-weight: 600;
            font-size: 14px;
            font-family: system-ui, sans-serif;
            &:hover {
                background-color: #0E0E0E;
            }
        }
    }
}

.posts-container {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    .post-item {
        width: 80%;
        background-color: #f5f5f5;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
        margin: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        p {
            font-size: 14px;
            color: #333;
        }
    }
}
