.playlists-container {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    .playlist-item {
        color: white; 
        width: 80vh; 
        background-color: #0E0E0E;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
        margin: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        
        p {

            font-family: "Gudea";
            margin-left: 12px;
            font-size: 14px;
            color: #B0A3EB;

            &.wrapped {
                display: inline-flex;
                padding: 0.4rem;
                border: 0.25rem solid #B0A3EB;
                border-radius: 70px; 
                border-width: 0.1rem; 
                border-color: #B0A3EB;
            }
            &.wrapped:hover{
                scale: 1.2;
                color: #7800EB;
                border-color: #7800EB;
                background-color: #89C8EA;
            }
        }
    }
    strong{
        margin: 1em; 
    }
}