.playlists-container {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    .playlist-item {
        width: 80%;
        background-color: #f5f5f5;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
        margin: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        p {
            margin-left: 12px;
            font-size: 14px;
            color: #333;
        }
    }
}