:root {
  font-family: papyrus;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #00ff00;
  background-color: #ff0000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #00ff00;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


